/* 화면 전체 */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  /* overflow-y: auto; */
}

/* 페이지 전체 */
.document-view-page {
  max-width: 800px;
  margin: auto;
  padding-top: 100px;
  height: 100vh;             /* 스크롤 기준 높이 설정 */
  
}


/* 뒤로가기 버튼 */
.back-btn {
  position: fixed;
  top: 50px;
  left: 50px;
  z-index: 1000;
  padding: 8px 12px;
  font-size: 16px;
  background-color: transparent;
  cursor: pointer;
}

/* 고정된 제목 */
.document-view-title {
  position: fixed;
  top: 20px;
  left: 300px; /* 뒤로가기 버튼과 간격 */
  font-size: 15px;
  font-weight: bold;
  background-color: white;
  padding: 8px 8px;
  border-bottom: 2px, black;
}

/* 본문 마크다운 */
.markdown-body {
  padding: 0 12px;
}

.scrollable-content {
  position: absolute;
  top: 150px; /* 고정 요소들보다 아래로 */
  bottom: 0;
  left: 300px;
  right: 300px;
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
  border-top: 2px solid #ddd;
}